<div>
  Days Index
</div>

<div>
    {{#each days as |day|}}
      <div class="card" style="width: 18rem;">
        <a href="/days/{{day.id}}">{{day.description}}</a>
        <a href="/days/{{day.id}}/edit">edit</a>
      </div>
    {{/each}}
  </ul>
<div>
