<div>
  <form action="/days" method="post">
    <legend>New Day</legend>

    <div class="form-group">
      <label for="day-date">Date</label>
      <input type="date" name="date" class="input-text" id="day-date" placeholder="mm/dd/yyyy" required>
      <span class="validity"></span>
    </div>

    <div class="form-group">
      <label for="day-description">Description</label>
      <textarea name="description" class="input-text" id="day-description" rows="3" placeholder="How was your day?" required></textarea>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
